.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  color: #fff;
  padding: 20px;
}

.logo {
  height: 40px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
  cursor: pointer;
}

.sign-in-button {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/efb4855d-e702-43e5-9997-bba0154152e0/42f6dd08-d478-46e4-a4a8-e3a93aa7e085/IN-en-20230417-popsignuptwoweeks-perspective_alpha_website_small.jpg" );
  background-position: center;
  color: #fff;
  text-align: center;
}

.hero-section h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.hero-section h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.cta-button {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
